{% extends "layouts/base.html" %}
{% block content %}

    {% from "users/_macros.html" import render_field_with_errors, render_field, render_field_generic %}

    <div class="col-sm-12">
        <h2 class="text-info text-center">Set password</h2>
        <div class="divider"><hr/></div>
    </div>
    <form method="POST" name="forgot_password_form">
        {{ form.hidden_tag('csrf_token') }}
        {{ render_field_generic(form.admin_password) }}
        {{ render_field_generic(form.password_confirm) }}
        {{ render_field_generic(form.submit, class="btn btn-primary", label=False, btn=True) }}
    </form>

{% endblock %}